<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.twitter.com/"><i class="fa-brands fa-twitter"></i></a>
        </div>
        <div class="f-info-copyright"> &copy; 2023 WanderLust Private Limited</div>
        <div class="f-info-links">
            <a href="/about">About Us</a>
            <a href="/contact">Contact</a>
            <a href="/privacy">Privacy Policy</a>
        </div>
    </div>
</footer>