<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <div class="row">
            <div class="alert alert-danger col-6 offset-2" role="alert">
                <h4 class="alert-heading">Error!</h4>
                <p><%= message %></p>
                <hr>
                <a href="/listings" class="btn btn-dark">Back to Listings</a>
            </div>
        </div>
    </body>